<footer>
    <div class="containerFooter cajabuscar">
      <form method="get" id="buscarform">
        <p>Suscribite ahora para recibir nuestro newsletter</p>
        <input type="text" id="s" value="" placeholder="Ingresá tu dirección de correo electrónico"/>
        <input class="search-button" type="submit" value=""/><i class="fa-regular fa-paper-plane"></i>
      </form>
    </div>
    <div class="containerFooter">
      <div>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/+549xxxxxxx"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
      <p>&copy; 2023 THEME - Break The Scene</p>
    </div>
  </footer>