<footer>
    <div class= "cajaSuscribe">
      <form method="get" id="suscribeForm">
        <p>Suscribite ahora para recibir nuestro newsletter</p>
        <input type="email" id="suscribe" value="" placeholder="Ingresá tu dirección de correo electrónico"/>
        <button class="suscribe-button" type="submit" value=""/><i class="fa-regular fa-paper-plane"></i></button>
      </form>
    </div>
    <div>
      <div>
        <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/+549xxxxxxx"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
      <h5>&copy; 2023 THEME - Break The Scene</h5>
    </div>
  </footer>