<header class="main-header">
    <div class="main-header-left-bar">
        <i class="fa-solid fa-bars"></i>
        <h1 class="copy-header"><a href="/">THEME</a></h1>
    </div>
    <div class="main-header-right-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
    </div>
</header> 
