<header class="main-header">
  <div class="main-header-left-bar">
   
    <h1 class="copy-header"><a href="/">THEME</a></h1>
  </div>
  <div class="main-header-right-bar">
    <form action="/product/busqueda" method="post" class="containerLupa">
      <input type="text" name="keyword" class="inputLupa" required="" >
    
        <i  id="iconoLupa" class="fa-solid fa-magnifying-glass"></i>
  </form>
    <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    <% if (locals.admin===true || locals.superadmin===true) { %>
      <i id="userIcon" class="fa-solid fa-user-secret" onclick="toggleMenu()" ></i>
      <% } else { %>
        <i id="userIcon" class="fa-solid fa-user" onclick="toggleMenu()" ></i>
      <% } %>
  </div>

  <div class="sub-menu-wrap" id="subMenu">
    <div class="sub-menu">
     
        <% if (locals.isLogged===false) { %>
            <a href="/user/register" class="sub-menu-link">
                <i class="fa-solid fa-user-ninja"></i>                
                <p>REGISTRARME</p>
                <span><i class="fa-solid fa-arrow-right"></i></span>
            </a>
            <a href="/user/login" class="sub-menu-link">
                <i class="fa-solid fa-right-to-bracket"></i>
                <p>INICIAR SESION</p>
                <span><i class="fa-solid fa-arrow-right"></i></span>
              </a>
              <% } else if (locals.isLogged === true) { %>
                <a href="/user/profile" class="sub-menu-link">
                  <i class="fa-sharp fa-solid fa-user"></i>
                  <p>Ver Perfil</p>
                  <span><i class="fa-solid fa-arrow-right"></i></span>
                </a>
                
                <% if (locals.superadmin === true) { %>
                  <a href="/user/adminUsers" class="sub-menu-link">
                    <i class="fa-solid fa-walkie-talkie"></i>
                    <p>Administración Usuarios</p>
                    <span><i class="fa-solid fa-arrow-right"></i></span>
                  </a>
                <% } %>
                
                <% if (locals.admin === true || locals.superadmin === true) { %>
                  <a href="/user/admin" class="sub-menu-link">
                    <i class="fa-solid fa-display"></i>
                    <p>Administración Productos</p>
                    <span><i class="fa-solid fa-arrow-right"></i></span>
                  </a>
                <% } %>
                
                <a href="/user/logout" class="sub-menu-link"> 
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <p>Cerrar Sesión</p>
                  <span><i class="fa-solid fa-arrow-right"></i></span>
                </a>
              <% } %>
              
    </div>
  </div>
  <!-- <div class='search-bar-header'>
    <form action="'/api/busqueda" method="post">
      <input type="search" name="search-bar-header" id="search-bar-header-input">
      <button type="submit">Buscar</button>
    </form>
  </div> -->
 
</header>

<script src="/js/dropDown.js"></script>
