<header class="main-header">
  <div class="main-header-left-bar">
    <i class="fa-solid fa-bars"></i>
    <h1 class="copy-header"><a href="/">THEME</a></h1>
  </div>
  <div class="main-header-right-bar">
    <i class="fa-solid fa-magnifying-glass"></i>
    <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    <% if (locals.admin===true) { %>
      <i id="userIcon" class="fa-solid fa-user-secret"></i>
      <% } else { %>
        <i id="userIcon" class="fa-solid fa-user"></i>
    <% } %>
  </div>

  <div class='login-register'>
    <% if (locals.isLogged===false) { %>
      <a href="/user/register"><button>REGISTRARME</button></a>
      <a href="/user/login"><button>INICIAR SESIÓN</button></a>
      <% } else if  (locals.isLogged===true) { %>
        <a href="/user/profile"><button>VER MI PERFIL</button></a>
        <% if (locals.admin===true) { %>
          <a href="/user/admin"><button>ADMINISTRACION</button></a>
        <% }  %>
        <a href="/user/logout"><button>CERRAR SESION</button></a>
    <% } %>
      
  </div>
  <div class='search-bar-header'>
    <form action="/" method="get"><input type="search" name="search-bar-header" id="search-bar-header-input"><button
        type="submit">Buscar</button></form>
  </div>
 
</header>

<script src="/js/header.js"></script>