<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
<main>
    <h1 class="tituloAdd">Crear producto</h1>


<form class="formAdd" action="" method="post">
    <div class="formIzquierda">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
    
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio">
    
        <label for="categorias">Categorías:</label>
        <select id="categorias" name="categorias">
          <option value="opcion1">Seleccionar categoria</option>
          <option value="opcion2">Buzos</option>
          <option value="opcion3">Tote bag</option>
          <option value="opcion3">Gorros de lana</option>
          <option value="opcion3">Barbijos</option>
          <option value="opcion3">Anteojos de sol</option>
          <option value="opcion1">Remeras</option>
        </select>
    </div>
    <div class="formDerecha">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>
  
        <label class="subirImagen">
            <input type="file"/>
            Subir imagen <i class="fa-solid fa-images"></i>
        </label>
        <label>Talles disponibles :</label>
        <div class="selectorTalle">
            
            <input type="checkbox" id="talles" name="size" value="S">
            <label for="talles">S</label>
        
            <input type="checkbox" id="tallem" name="size" value="M">
            <label for="tallem">M</label>
        
            <input type="checkbox" id="tallel" name="size" value="L">
            <label for="tallel">L</label>
        
            <input type="checkbox" id="tallexl" name="size" value="XL">
            <label for="tallexl">XL</label>
          </div>
        
        <button class="botonAdd" type="submit">Añadir</button>
    </div>
    
</form> 

</main>
<%- include('./partials/footer.ejs') %>

</body>
</html>