<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/5e79f3a610.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <title>THEME</title>
  </head>

  <body>
    <header class="main-header">
      <div class="main-header-left-bar">
        <i class="fa-solid fa-bars"></i>
        <h1 class="copy-header"><a href="/">THEME</a></h1>
      </div>
      <div class="main-header-right-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
      </div>
    </header>
    <main class="home">
      <div class="contain-1">
        <nav class="busqueda"></nav>
      </div>
      <div class="contain-2">
        <img src="images/Destacados-Ofertas" alt="Destacados/Ofertas" />
      </div>
      <div class="contain-3">
        <h3>CATEGORIAS</h3>
      </div>
      <div class="contain-4">
        <img src="images/Buzo.jpg" alt="home-1" width="100px" />
        <img src="images/Buzo.jpg" alt="home-2" width="100px" />
        <img src="images/Buzo.jpg" alt="home-3" width="100px" />
        <img src="images/Buzo.jpg" alt="home-4" width="100px" />
        <img src="images/Buzo.jpg" alt="home-5" width="100px" />
        <img src="images/Buzo.jpg" alt="home-6" width="100px" />
        <img src="images/Buzo.jpg" alt="home-7" width="100px" />
        <img src="images/Buzo.jpg" alt="home-8" width="100px" />
        <img src="images/Buzo.jpg" alt="home-9" width="100px" />
      </div>
    </main>
    <footer>
      <div>
        <div>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://wa.me/+549xxxxxxx"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
        <p>&copy; 2023 THEME - Break The Scene</p>
      </div>
    </footer>
  </body>
</html>
