<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/normalize.css"/>
  <title>Proyecto grupo 6</title>
</head>
<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <img class="logo" src="" alt="soy el logo" />

      <h2 class="copy-header">
        <i class="fa-solid fa-earth-americas"></i>
        Venta de buzos quizas
      </h2>
    </div>
    <a href="a" class="hamburger-button">
      <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="main-nav-bar">
      <ul>
        <li class="left-nav-bar"><a href="a">Nosotros</a></li>
        <li><a href="a">Contacto</a></li>
        <li><a href="a">Informacion</a></li>
      </ul>
      <ul class="right-nav-bar">
        <li><a href="a">Ingresa</a></li>
      </ul>
    </nav>
  </header>
  <p>soy un parrafo</p>
  <footer>soy el footer</footer>
</body>
</html>