<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/5e79f3a610.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <title>THEME</title>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-left-bar">
        <i class="fa-solid fa-bars"></i>
        <h1 class="copy-header">THEME</h1>
      </div>
      <div class="main-header-right-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-cart-shopping"></i>
        <a class="login" href="a">Iniciar Sesion</a>
      </div>
    </header>
    <main>
      <section class="product-container">
        <img src="images/Buzo.jpg" alt="producto" />
        <h2>
          Nombre del Item
          <a href="a">
            <i class="fa-regular fa-star"></i>
          </a>
          <!-- <span class="favorites">Guardar en favoritos</span> -->
        </h2>
        <a href="a" class="share"><i class="fa-solid fa-share-nodes"></i></a>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit earum id
          ratione harum perferendis vitae voluptate assumenda libero expedita ut
          corporis natus, aliquam impedit cumque hic quae aliquid ullam. Cum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          quia laudantium consequatur veniam harum amet debitis provident earum
          officia ex facilis, vel aspernatur, nemo nostrum deleniti dolore
          reprehenderit iure perferendis!
        </p>
        <form action="/order" method="post" class="talle">
          <label>Seleccione un talle</label>
          <select name="talle">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </form>
        <p class="price">$60000</p>
        <button class="pre-order">Pre Ordenar</button>
      </section>
    </main>
    <footer>
      <div class="bottom">
        <p>&copy; 2023 THEME - Break The Scene</p>
        <i class="fa-brands fa-whatsapp"></i>
      </div>
    </footer>
  </body>
</html>
