/*
#000000 negro
#B3B3B3 gris
#FFF500 amarillo
#FFFFFF blanco
*/

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64/78pt;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40/48pt;
  font-weight: 600;
}

h3, label {
  font-family: 'Montserrat', sans-serif;
  font-size: 90/109pt;
  font-weight: 500;
}

h4, p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20/24pt;
  font-weight: 400;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16/19pt;
  font-weight: 300;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14/17pt;
  font-style: italic;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}


body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  
  /* background: linear-gradient(to right, black 160px,gray, white); */
}
main {
  margin-top: 5rem;
}
.main-header {
  /* background-color: white; */
  background-color:black;
  color: white;
  display: flex;
  width: 99%;
  justify-content: space-between;
  
  height: 5rem;
  position: fixed;
  z-index: 1;
  /* border-bottom: 4px solid; */
  /* border-image: linear-gradient(to right, rgba(255, 245, 0), rgb(0, 0, 0)); */
 border-image-slice: 1;
} 



.main-header-left-bar {
  
  display: flex;
  flex-direction: row;
  align-items: center;

  
}

.copy-header {
  
  font-size: 2.3rem;
  margin-left: 10px;
}

.copy-header a {
  
  text-decoration: none;
  color: white;
}

.main-header-right-bar {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding: 0px 15px;*/

  
}
.main-header-right-bar i {
  color: white;
}

i {
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
}

#login-register{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -200rem;
  top: 5rem;
  padding: 10px;
  border:solid 1px yellow;
  background-color: grey;
  gap: 0.5rem;
  transition: all 500ms;
}
#login-register button{
  width: 100%;
}
#login-register:target{
  right:0;
  z-index: 1;
}
#search-bar-header{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -200rem;
  top: 5rem;
  padding: 10px;
  border:solid 1px yellow;
  background-color: grey;
  gap: 0.5rem;
  transition: all 500ms;
}
#lsearch-bar-header input{
  width: 100%;
}
#search-bar-header:target{
  right:0;
  z-index: 1;
}

/*  EN DESUSO

.featured {
  display: flex;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  background: linear-gradient(to right, black 160px, gray, white);
}

.featured-text {
  margin-left: 20px;
}

.featured p {
  margin: 5px;
}

.featured p:last-child {
  text-decoration: underline;
  text-underline-offset: 16px;
}

.featured-img {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 20px;
  width: 150px;
  height: 150px;
} */

footer {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9; 
  text-align: center;

  /* max-height: 100px; */
  width: 99%;
}


footer a i{
  color: white;
  border: solid 1px black;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #000000;
}

/* .containerFooter {
  display: flex;
  flex-direction: row;
} */

.cajabuscar {
    font-size: 100%;
    font: inherit;
    text-align: right;
    float: none;
    width: 50%;
    max-width: 453px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
 }

 #buscarform {
     padding: 0;
     float: left;
     clear: both;
     width: 100%;
     position: relative;
     
 }

 

 #suscribe {
     width: 100%;
     /* background-color: #fff; */
     float: left;
     padding: 8px 0;
     padding-right: 33px;
     text-indent: 10px;
     /* color: #666; */
     border: 1px solid #000; 
     box-sizing: border-box;
     height: 42px;
     text-overflow: ellipsis;
 }

 

 .search-button{
     
     border: 0;
     width: 42px;
     height: 42px;
     cursor: pointer;
     
     padding-top: 10px;
     /* color: #666; */
     transition: all 0.25s linear;
     background: transparent;
     z-index: 10;
     position: absolute;
      bottom: 5px;
      right:10px;
     
 }

/* 
Pagina detalle producto
*/

.product-container {

  
  display: flex;
  flex-direction: column;
}
.product-container div{
  max-width: 500px;
}
.imagenes-producto{
 
 display: flex;
 align-items: center;
 justify-content: center;
  
}
.galeria img {
  height: 380px;
  padding: 5px;
 

}
.radio-selector input[type="radio"] {
  display: none;
}
.radio-selector{
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-selector label {
  
  border-radius: 50%;
  background-color: #d1d1d1;
  height: 15px;
  width: 15px;
  font-weight: 900;
  margin: 5px;
  transform: translateY(-45px)
}
.radio-selector input[type="radio"]:checked + label {
  background-color:#FFF500;
  color:#000000;
  border: solid 2px #000000;
}
.m2{display: none;}
.m3{display: none;}
.m4{display: none;}

.product-container h2 {
  color: black;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

.product-container i {
  color: black;
}

.product-container a {
  text-decoration: none;
}

.favorites {
  font-size: 15px;
  color: grey;
  text-decoration: none;
}

.price {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
  margin: 0;
  font-weight: bold;
}

.description {
  margin: 1.5rem;
}

.talle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  display: inline-block;
  background-color: #d1d1d1;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60px;
  font-weight: 900;
  margin: 5px;
  border: solid 1px #fff;
}
.radio-button input[type="radio"]:checked + label {
  background-color:#FFF500;
  color:#000000;
  border: solid 1px #000000;
}
.talle button{
  width: 20rem;
}
.boton-negro {
  background-color: #000000;
  border: none;
  color: #fff;
  background-image: linear-gradient(-45deg, rgb(59, 59, 59) 40%, transparent 0);
  background-size: 30px;
  background-position: right;
  background-repeat: no-repeat;
  height: 50px;
  font-weight: 900;
  transition: background-size 300ms, font-size 300ms;
}

.boton-negro:hover {
  background-size: 300%;
  font-size: 18px;
}

.share {
  text-align: center;
}

/* Formulario de registro */
.body-register{
  background-image: url("../images/graffiti/Slide16_9-9.jpg");
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: top center;
}

.register {
  margin-top: 7rem;
  margin-bottom: 3rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  /* color: white; */
  align-items: center;
  background-color:rgba(255,255,255, 1);
  /* border: 4px solid;
  border-image: linear-gradient(to right, rgba(255, 245, 0), rgb(0, 0, 0));
 border-image-slice: 1; */

}

.register form {
  display: flex;
  flex-direction: column;
}

.register input {
  margin-top: 15px;
  font-size: 16px;
  width: 18rem;
  padding: 10px;
}

.sign-in {

  margin-top: 7rem;
  margin-bottom: 3rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  /* color: white; */
  align-items: center;
  background-color:rgba(255,255,255, 1);
  /* border: 4px solid;
  border-image: linear-gradient(to right, rgba(255, 245, 0), rgb(0, 0, 0));
 border-image-slice: 1; */

}

.sign-in form {
  display: flex;
  flex-direction: column;
}

.sign-in input {
  margin-top: 15px;
  font-size: 16px;
  width: 18rem;
  padding: 10px;
}
#keepalive{
  width: 20px;
}

/* Formulario de login */
.body-login{
  background-image: url("../images/graffiti/Slide16_9-8.jpg");
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: top center;
}

/*Form crear producto*/
.tituloAdd{
  text-align: center;
}

.formAdd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formIzquierda, .formDerecha {
  flex: 1;
  margin-right: 20px;
}

.formIzquierda label, .formDerecha label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formIzquierda input[type="text"],
.formIzquierda input[type="number"],
.formIzquierda select,
.formDerecha textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="file"] {
  display: none;
}
.subirImagen {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.botonAdd{
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.botonAdd:hover {
  background-color: #45a049;
}
.selectorTalle {
  display: flex;
  align-items: center;
}

.selectorTalle label {
  margin-right: 10px;
}

.selectorTalle input[type="checkbox"] {
  display: none;
}

.selectorTalle label {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.selectorTalle input[type="checkbox"]:checked + label {
  background-color: #333;
  color: #fff;
}

/* formulario edicion de producto */

.formEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.edit-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.edit-box div{
  width: 250px;
}
.editar-talle {
  display: flex;
  flex-direction: row;
  
}
.editar-talle label{
  border: solid 1px black;
  background-color:#d1d1d1;
  text-align: center;
}
.editar-talle input{
  width: 50px;
  font-size: 16px;
  text-align: center;
  border: none;
}
.edit-images{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit-imagex-trash{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: solid 1px black;
}

.edit-images img{
  width:120px;
}
.edit-images input[type="checkbox"] {
  display: none;
}

.edit-images label {
  display: inline-block;
  background-color: #d1d1d1;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100px;
  font-weight: 900;
  margin: 5px;
  border: solid 1px #fff;
  text-align: center;
}
.edit-images i{
  margin: 0;
}
.edit-images input[type="checkbox"]:checked ~ label {
  background-color:#ff0000;
  color:#ffffff;
  border: solid 1px #000000;
}

.botonEliminar{
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* Carrito de compras */

.img-prod-cart{

  width: 200px;
 
}
.carritoTop{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.carritoTop button{
  height: 30px;
  width: 50vw;
  border: none;
  font-size: 16px;
  font-weight:600;
}
.carritoTop button:first-child{
  background-color:darkgrey;
}
.carritoTop button:last-child{
  background-color:lightsteelblue;
}
.carrito {
  
 
  border-bottom: solid 1px gray;
  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.carrito p{
  margin-top: 8px;
  margin-bottom: 8px;
}
.detalles-producto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  background-color:rgba(165,165,165, 80%);
  width: 100vw;
  bottom: 0;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  justify-content: space-around;
}
.checkout p{
  padding:10px;
  background-color: #ebebee;
  width: 80vw;
  font-weight: 900;
  border-radius: 2%;
  margin:10px 0 15px 0
}
.checkout button{
  width: 47%;
  margin-bottom: 10px;
}
.invertido{
  background-color: white;
  border: none;
  color: black;
}

/*Home*/
.home{
  display: flex;
  flex-direction: column;
}

#banner {
  width: 100%;
  height: 87vh;
  padding: 0;
  margin: 0;
  background-image: url("../images/banner\ sin\ plaquita.jpg");
  background-repeat: no-repeat;

}

.placa-banner {
  margin-top: 10%;
  width: 32%;
  height: 8vw;
  border: 1px solid #fff;
  background-color: #fff; 
  /*position: absolute;
  z-index: 1;
  bottom: 250px;*/
  text-align: center;
  align-items: center;
}

.placa-banner h1 {
  margin: 0;
  padding: 6% 0 2% 0;
}

.placa-banner h5 {
  margin: 0;
}

.productos-home{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #B3B3B3;
}
.productos-home article{
  /* margin: 7px 7px; */
  display: flex;
  flex-direction: column;
  width: 85vw;
  background-color: #fff;
  position: relative;
}


.productos-home img {
  width: 100%;
}
.productos-home a{
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.productos-home a label{
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Listado de productos */
.product-list{
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.article-card{
  width: 80vw;
}
.article-card img{
  width: 100%;
}


@media (max-width: 768px) {
  

  /*añadir producto*/
  .formAdd {
    flex-direction: column;
    width: 100%;
  }

  .formIzquierda, .formDerecha {
    margin-right: 0;
  }

  .formIzquierda input[type="text"],
  .formIzquierda input[type="number"],
  .formIzquierda select,
  .formDerecha textarea,
  .formDerecha input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media(min-width:481px) {

  /* listado de productos */
  .article-card{
    width: 33vw;
  }

  /* HOME */

  .productos-home{
 
    flex-direction: row;
   
    background-color: #B3B3B3;
    flex-wrap: wrap;
    justify-content: center;
  }
  .productos-home article{ 
    width: 50%;
    /* height: 340px; */
  }
  .productos-home a{
    justify-content:flex-end;
    height: 100%;
  }
  .description {
   padding-left: 7%;
   padding-right: 5%;
  }
 /* edicion de producto */
.edit-box{
  flex-direction: row;
}
}
@media (min-width:1200px) {
   /* listado de productos */
   .article-card{
    width: 22vw;
  }

  
  .home{
    max-width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* HOME */
  .productos-home a label{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 40px;
    margin: 0;
    padding-top: 30%;
    opacity: 0%;
    justify-content: center;
    background-color: rgba(165,165,165);
    transition: all 500ms;
  }
  .productos-home article:hover label {
    opacity: 80%;

  }
  .productos-home article{ 
    width: 33.3333333333333333333333333333%;
    /* height: 340px; */
  }
}
@media (min-width:769px){

  /* PAGINA DE PRODUCTO*/
  .product-container {

    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .product-container div{
    width: 40vw;
    
  }
 
}


@media (min-width:1500px){
  .main-header{
    justify-content: space-around;
    gap: 70%;
  }
}