/*
#000000 negro
#B3B3B3 gris
#FFF500 amarillo
#FFFFFF blanco
*/
*{
  --swiper-pagination-color: yellow;
  --swiper-pagination-bullet-size: 5px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {

  opacity: 1;
  height: 10px;
  width: 10px;
  border: 2px solid black;
}

h1 {
  font-family: "Playfair Display", serif;

  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;

  font-weight: 600;
}

h3,
label {
  font-family: "Montserrat", sans-serif;

  font-weight: 500;
}

h4,
p {
  font-family: "Montserrat", sans-serif;

  font-weight: 400;
}

h5 {
  font-family: "Montserrat", sans-serif;

  font-weight: 300;
}

h6 {
  font-family: "Montserrat", sans-serif;

  font-style: italic;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;

  
}
main {
  margin-top: 5rem;
}
.main-header {
  /* background-color: white; */
  background-color: black;
  color: white;
  display: flex;
  width: 100vw;
  justify-content: space-between;

  height: 5rem;
  position: fixed;
  z-index: 100;
  /* border-bottom: 4px solid; */
  /* border-image: linear-gradient(to right, rgba(255, 245, 0), rgb(0, 0, 0)); */
  border-image-slice: 1;
}

.main-header-left-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copy-header {
  font-size: 2.3rem;
  margin-left: 10px;
}

.copy-header a {
  text-decoration: none;
  color: white;
}

.main-header-right-bar {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
}
.main-header-right-bar i {
  color: white;
}

i {
  font-size: 20px;
  padding: 5px;
}
header i{
  margin-left: 10px;
}


.login-register {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -200rem;
  top: 5rem;
  padding: 10px;
  border: solid 1px yellow;
  background-color: grey;
  gap: 0.5rem;
  transition: all 500ms;
}
.login-register button {
  width: 100%;
}
.login-register-open {
  right: 0;
  z-index: 1;
}
.search-bar-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -200rem;
  top: 5rem;
  padding: 10px;
  border: solid 1px yellow;
  background-color: grey;
  gap: 0.5rem;
  transition: all 500ms;
}

.search-bar-header-open {
  right: 0;
  z-index: 1;
}


/* Barra busqueda uiverse(lo hice con esta pagina y cambie algunas cosas) */
.containerLupa {
  position: relative;
  --size-button: 40px;
  color: white;
}

.inputLupa {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
}

.inputLupa:focus,
.inputLupa:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.inputLupa:focus + #iconoLupa,
.inputLupa:not(:invalid) + #iconoLupa {
  pointer-events: all;
  cursor: pointer;
}

.containerLupa i {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}


/* DropDown Menu */
.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 0;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
  max-height: 400px;
}

.sub-menu{
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
}


.user-info{
  display: flex;
  align-items: center;
}

.user-info h3{
  color: #000;
  font-weight: 500;
}
.user-info img{
  width: 60px;
  margin-right: 15px;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;

}

.sub-menu-link p {
  width: 100%;
}
.sub-menu-link i{
  width: 55px;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link i { 
  font-size: 20px;
  transition: transform 0.5s;
}

.sub-menu-link:hover i {
   transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}



footer {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  text-align: center;
  width: 100vw;
}
footer i{
  margin-left:5px;
  margin-right:5px
}
footer a i {
  color: white;
  border: solid 1px black;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #000000;
}



.cajaSuscribe {
  font-size: 100%;
  font: inherit;
  text-align: right;
  float: none;
  width: 50%;
  max-width: 453px;
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: left;
}

#suscribeForm {
  padding: 0;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
}

#suscribe {
  width: 100%;
  float: left;
  padding: 8px 0;
  padding-right: 33px;
  text-indent: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 42px;
  text-overflow: ellipsis;
}

.suscribe-button {
  border: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;

  padding-top: 10px;
  transition: all 0.25s linear;
  background: transparent;
  z-index: 10;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

/* 
Pagina detalle producto
*/
.tachado {
  text-decoration: line-through solid 2px red;
  cursor: not-allowed;
}
.image-preview img {
  max-width: 100px; 
  max-height: 100px; 
  margin: 5px; 
}
.share i {
  font-size: 24px; 
  color: #333; 
}

.share.clicked i {
  color: #11B914; 
}
.product-container {
  display: flex;
  flex-direction: column;
}
.product-container div {
  max-width: 500px;
}
.imagenes-producto {
  display: flex;
  align-items: center;
  justify-content: center;
}
.galeria{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-detalle {
  max-height: 380px;
  max-width: 300px;
  padding: 5px;
  display: none;
  object-fit: contain;
}
.info-product{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
 

.radio-selector input[type="radio"] {
  display: none;
}
.radio-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-selector label {
  border-radius: 50%;
  background-color: #d1d1d1;
  height: 15px;
  width: 15px;
  font-weight: 900;
  margin: 5px;
  transform: translateY(-45px);
  
}
.radio-selector input[type="radio"]:checked + label {
  background-color: #fff500;
  color: #000000;
  border: solid 2px #000000;
}




.product-container h2 {
  color: black;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

.product-container i {
  color: black;
}

.product-container a {
  text-decoration: none;
}

.favorites {
  font-size: 15px;
  color: grey;
  text-decoration: none;
}

.price {
  text-align: center;
  font-size: 20px;
  margin: 40px 0 20px 0; 
  font-weight: bold;
}

.description {
  margin:0;
}

.product-talle-select {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.product-talle-select h3{
  margin: 0 0 20px 0;
}
.radio-button{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  display: inline-block;
  background-color: #d1d1d1;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60px;
  font-weight: 900;
  margin: 0;
  border: solid 2px #ffffff;

}
.radio-button input[type="radio"]:checked + label {
  background-color: #fff500;
  color: #000000;
  border: solid 1px #000000;
}
.product-talle-select button {
  width: 20rem;
}
.boton-negro {
  background-color: #000000;
  margin-bottom: 2%;
  border: none;
  color: #fff;
  background-image: linear-gradient(-45deg, rgb(255, 255, 0) 40%, transparent 0);
  background-size: 30px;
  background-position: right;
  background-repeat: no-repeat;
  height: 50px;
  font-weight: 900;
  transition: background-size 300ms, font-size 300ms;
}

.boton-negro:hover {
  background-size: 300%;
  font-size: 18px;
  color: #000000;
  
}

.share {
  text-align: center;
}
.input-talleUnico{
  padding: 5px;
  border: 1px solid black ;
  border-radius: 5px;
  font-size: 14px;
  width: 60px;
}


/* Formulario de registro */
.body-register {
  background-image: url("../images/graffiti/Slide16_9-9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.register {
  margin-top: 7rem;
  margin-bottom: 3rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  
}

.register form {
  display: flex;
  flex-direction: column;
}

.register input {
  margin-top: 15px;
  font-size: 16px;
  width: 18rem;
  padding: 10px;
}

.sign-in {
  margin-top: 7rem;
  margin-bottom: 3rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  
}

.sign-in form {
  display: flex;
  flex-direction: column;
}

.sign-in input {
  margin-top: 15px;
  font-size: 16px;
  width: 18rem;
  padding: 10px;
}
#cookie {
  width: 20px;
}
.register-avatar{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-avatar input[type=file]::file-selector-button {
  display: none;
  
}
.register-avatar label{
  background-color: #d1d1d1;
  color: #000;
  border:solid 1px black;
  padding: 5px ;
  font-weight: bold;
  font-size: 14px;
  transition: .5s;
  display: block;
  margin-top: 15px;
  width: 100%;
  text-align: left;
}

.register-avatar label:hover {
  background-color:black;
  color: white;
 
}
.register-avatar button{
  width: 60%;
}
/* Formulario de login */
.body-login {
  background-image: url("../images/graffiti/Slide16_9-8.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top center;
}

/*Form crear producto*/
.default-option {
  color: #FF0000;
}
.error-message{
  color: #FF0000; 
  font-size: 15px;
}

.tituloAdd {
  text-align: center;
}

.formAdd {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  gap:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formIzquierda,
.formDerecha {
  margin-right: 0;
}

#descripcion{
  width: 100%; 
  height: 230px; 
}
.formIzquierda label,
.formDerecha label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formIzquierda input[type="text"],
.formIzquierda input[type="number"],
.formIzquierda select,
.formDerecha textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.subirImagen {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.botonAdd {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.botonAdd:hover {
  background-color: #45a049;
}

.selectorTalle {
  display: flex;
  align-items: center;
}

.selectorTalle label {
  margin-right: 10px;
}

.selectorTalle input[type="checkbox"] {
  display: none;
}

.selectorTalle label {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.selectorTalle input[type="checkbox"]:checked + label {
  background-color: #333;
  color: #fff;
}
.input-img-crear {
  display: none;
}
/* css del switch de talles */

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
 }
 
 .switch input {
  display: none;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: #757100;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px #000000;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
 }
 
 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'Multiples';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
 }
 
 input:checked + .slider:after {
  content: 'Unico';
 }
 
 /*--------- END --------*/

/* formulario edicion de producto */
.errores{
  background-color: #ff5151;
  width: 100%;
  text-align: center;
  color: white;
}
.errores p{
  margin: 0px 10px 0px 10px;
  padding:5px 0 5px 0 
}
.formEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#editDescripcion{
  height: 230px;
}
.edit-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  gap:10px;
}

.edit-box div {
  width: 90vw;
  max-width: 450px;
}
.editar-talle {
  display: flex;
  flex-direction: row;
}
.editar-talle label {
  border: solid 1px black;
  background-color: #d1d1d1;
  text-align: center;
}
.editar-talle input {
  width: 100%;
  font-size: 14px;
  
  border: none;
  margin: 0;
  padding: 0;
}
.edit-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
}
.edit-imagex-trash {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: solid 1px black;
}

.edit-images img {
  width: 120px;
}
.edit-images input[type="checkbox"] {
  display: none;
}

.edit-images label {
  display: inline-block;
  background-color: #d1d1d1;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100px;
  font-weight: 900;
  margin: 5px;
  border: solid 1px #fff;
  text-align: center;
}
.edit-images i {
  margin: 0;
}
.edit-images input[type="checkbox"]:checked ~ label {
  background-color: #ff0000;
  color: #ffffff;
  border: solid 1px #000000;
}
.formEdit span{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.formEdit span button,.formEdit span label{
  width: 35%;
  text-align: center;
}


.botonEliminar {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;

  
 
}

.edit-nuevas-images{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.edit-nuevas-images input[type=file]{
  margin-bottom: 2rem;
}


.edit-nuevas-images input[type=file]::file-selector-button {
  display: none;
  
}
.edit-nuevas-images label{
  background-color: #d1d1d1;
  color: #000;
  border:solid 1px black;
  margin-bottom: 10px;
  padding: 5px ;
  font-weight: bold;
  font-size: 14px;
  transition: .5s;
  display: block;
  width: 70%;
  text-align: center;
}

.edit-nuevas-images label:hover {
  background-color:black;
  color: white;
 
}
.edit-nuevas-images button{
  width: 60%;
}

.volver-producto{
  background-color: yellow;
  color: #000;
  border:solid 1px black;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px ;
  font-weight: bold;
  font-size: 14px;
  transition: .5s;
  margin-top: 70px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.volver-producto i {
  padding-left: 0;
  margin-left: 0;
}
/* Carrito de compras */


.main-carrito{
  /*display: flex;
  justify-content: space-evenly;
  */
  width: 100vw;
  min-height: 100vh;
  background-image: url('../images/graffiti/colorful-graffiti-wall-art-background-street-art-hip-hop-urban-illustration-background-seamless-amazing-graff.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  }

.swiper-cart{
  margin:0 !important;
  width: 150px;
  
}

.swiper-cart img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.indicador-interna{
  background-color: #fff;
  padding: 3%;
  margin: 0;
  font-weight: bold;
  /* text-align: center; */
  z-index: 1000000000000000;
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 5rem;
  position: fixed;
  /* z-index: 100;*/
}

.carro{
  margin-top: 6rem;
}

.carrito {
  /*border-bottom: solid 1px gray;*/
  background-color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content:space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 0px 4px #000;
  border-bottom: solid 1px gray;
}
.carrito p {
  margin-top: 8px;
  margin-bottom: 8px;
}


.checkout {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #E6E6E6;
  width:90vw;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;  
}
.checkout p {
  position: relative;
  left: -60px;
  padding: 10px;
  width: 55%;
  font-weight: 900;
  border-radius: 2%;
  margin: 10px 0 15px 0;
}
.checkout button {
  width: 47%;
  margin-bottom: 10px;
}
.producto-carrito-cantidad{
  display: flex;
}
.producto-carrito-cantidad i {
  height: 30px;
  width: 30px;
  border: solid 1px grey;
}
.producto-carrito-cantidad div {
  height: 30px;
  width: 60px;
  border: solid 1px grey;
  text-align: center;
  padding-top:5px;
}
.invertido {
  background-color: white;
  border: none;
  color: black;
}

/*Home*/
.swiper-home {
  width: 100vw;
  max-width: 1500px;
  padding: 0;
  margin: 0;
}

.swiper-home img {
  width: 100%;
  height: auto; 
}
.home {
  display: flex;
  flex-direction: column;
}


.placa-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
  max-height: 100px;
  border: 1px solid #fff;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  text-align: center;
  align-items: center;
}

.placa-banner h3 {
  margin: 0;
  padding: 0 0 0 0;
  font-weight: bold;
}

.placa-banner h5 {
  margin: 0;
  padding: 0 10px 0 10px;
}

.productos-home {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b3b3b3;
}
.productos-home article {
  /* margin: 7px 7px; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #fff;
  position: relative;
}

.productos-home img {
  width: 100%;
}
.productos-home a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productos-home a label {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Listado de productos */
.product-list {
  margin-top: 6rem;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  align-items:end;
  justify-content: space-evenly;
}
.article-card {
  width: 80%;
  display: flex;
  margin: 0 10px 0 10px;
  border-bottom: solid 1px #B3B3B3;
  margin-bottom: 20px;
  font-size: 20px;
  justify-content: center;
 
}
.article-card a{
  color: #000;
  text-decoration: none;
}
.article-card img {
  width: 100%;
}
.article-card-info{
  
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
 
}

.precio-lista{
  white-space: nowrap;
  margin-left:20px
}

/*cambiar categoria*/
.body-categorias{
  background-color: #efefef;
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #555;
}

/* admin */
.admin-actions{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.admin-items-table{
  margin-bottom: 2rem;
}

.header-tabla-admin{
  display: flex;
  background-color: yellow;
  width: 95vw;
  border-left: solid 1px grey ;
  border-right: solid 1px grey ;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.header-tabla-admin h4{
  border: solid 1px grey;
  width: 16.6666666666666666666%;
  font-weight: 600;
  height: 100%;
  text-align: center;
  padding-top:10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.row-tabla-admin article{
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: center;
  border: solid 1px grey;


  
}
.row-tabla-admin article:nth-child(even){background-color: #d6d6d6;}

.row-tabla-admin article:hover {background-color:yellow;}

.row-tabla-admin p{
 
  width: 16.6666666666666666666%;
  height: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: solid 1px grey ;
  border-right: solid 1px grey ;
  padding-top: 15px;
  margin: 0;
 
}
.row-img-item{
 
  width: 16.6666666666666666666%;
  height: 50px;
  border-left: solid 1px grey ;
  border-right: solid 1px grey ;
}
.row-tabla-admin img{
 
  width: 100%;
  max-height: 50px;
  object-fit: scale-down;
}
.row-acciones-items{
  width: 16.6666666666666666666%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  
}
.row-acciones-items a{
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  color:black;
  border-left: solid 1px grey ;
  border-right: solid 1px grey ;
}
.row-acciones-items a:nth-child(o){
  border-bottom: solid 1px black;
}


/* User Profile */
/*Boton mostrar esconder de uiverse*/
.mostrar {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .mostrar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .mostrar:hover {
  color: #e8e8e8;
 }
 
 .mostrar:hover::before {
  width: 100%;
 }
.user-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.user-profile section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-profile h2{
  align-self:flex-start;
}
.profile-avatar{
  width:60px;
  border-radius: 100%;
}
.profile-info{
  padding: 20px;
  margin-bottom: 2rem;
  border: solid 1px grey;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  width: 370px;
}
.profile-actions{
  display: flex;
  justify-content: space-between;
  
}
.profile-actions button{
  width: 95%;
}
.ticket-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px gray;
}
.ticket-info-total{
  text-align: end;
}

/* spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #222222;
  border-color: #222222 transparent #222222 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 481px) {
  /* listado de productos */
  .article-card {
    width: 45%;
    
  }

  /* HOME */
  .productos-home {
    flex-direction: row;

    background-color: #b3b3b3;
    flex-wrap: wrap;
    justify-content: center;
  }
  .productos-home article {
    width: 50%;
    
  }
  .productos-home a {
    justify-content: flex-end;
    height: 100%;
  }
  .description {
    padding-left: 7%;
    padding-right: 5%;
  }
  
}



@media (min-width: 769px) {
  /* PAGINA DE PRODUCTO*/
  .product-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .product-container div {
    width: 40vw;
  }
  /*CREAR PRODUCTO*/
  .formAdd {
    
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  }
  
  .formIzquierda,
  .formDerecha {
    flex: 1;
    
  }
  
  .formIzquierda label,
  .formDerecha label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formIzquierda input[type="text"],
  .formIzquierda input[type="number"],
  .formIzquierda select,
  .formDerecha textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .subirImagen {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  
  .selectorTalle {
    display: flex;
    align-items: center;
  }
  
  .selectorTalle label {
    margin-right: 10px;
  }
  
  .selectorTalle input[type="checkbox"] {
    display: none;
  }
  
  .selectorTalle label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .selectorTalle input[type="checkbox"]:checked + label {
    background-color: #333;
    color: #fff;
  }
  /* edicion de producto */

  .edit-box {
    flex-direction: row;
  }
  .edit-box div {
  width: 40vw;
  max-width: 400px;
}
  .edit-images{
    justify-content: center;
    gap:15px;
    row-gap: 10px;
   
  }
  
  .edit-images img {
    width: 150px;
  }

/* Carrito */
.main-carrito{
display: flex;
justify-content: space-evenly;
width: 100vw;
min-height: 100vh;
}
.checkout{
  width: 90%;
  padding: 20px;
  top:15%;
  height: 200px;
  margin-top: 20px;  
  margin-bottom: 20px;  
  margin-left: auto;
  margin-right: auto;
  background-color: #E6E6E6;

}

.carrito-container{
  margin-top: 100px;
  width: 50%;
}
.carrito-otros{
 width: 50%;
}
.carrito-otros h2{
  text-align: center;
}

}
@media (min-width: 1279px) {
  /* listado de productos */
  .article-card {
    width: 22%;
  }

  /* HOME */

  .home {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .placa-banner h3 {
    margin: 0;
    padding: 0 0 0 0;
    font-weight: bold;
    font-size: 30px;
  }
  
  .placa-banner h5 {
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 16px
  }
  .productos-home a label {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 40px;
    margin: 0;
    padding-top: 30%;
    opacity: 0%;
    justify-content: center;
    background-color: rgba(165, 165, 165);
    transition: all 500ms;
  }
  .productos-home article:hover label {
    opacity: 80%;
  }
  .productos-home article {
    width: 33.3333333333333333333333333333%;
    
  }
}

@media (min-width: 1500px) {
  .main-header {
    justify-content: space-around;
    gap: 70%;
  }
}