<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-carrito">
      <section class="carrito-container">
      <div class="carritoTop">
        <button>Carrito(3)</button><button>Guardados(0)</button>
      </div>
      <div class="carro">
        <div id="productos">
    
      </div>
        
       
      </div>
    </section>
    <!-- <section class="carrito-otros">
      <h2 >Tambien te puede interesar</h2>
    </section> -->
    <div class="checkout">
      <p>Total: $50000000</p>
      <button class="boton-negro invertido">Seguir Comprando</button>
      <button class="boton-negro">Comprar Carrito</button>
    </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/cart.js"></script>
  </body>
</html>
