<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-carrito">
      <p class="indicador-interna">CARRITO DE COMPRAS</p>
      <section class="carrito-container">
      <!-- <div class="carritoTop">
        <button id="cantidadCarrito">Carrito(0)</button><button>Guardados(0)</button>
      </div> -->

      <div class="carro">
        <div id="productos">
          <!-- generado con js -->
      </div>
        
       
      </div>
      <div class="checkout">
        <!-- generado con js -->
      </div>
    </section>

    <!-- <section class="carrito-otros">
      <h2 >Tambien te puede interesar</h2>
    </section> -->
    <div id="wallet_container"></div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/cart.js"></script>
    <script src="/js/generarTicket.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>

    <script src="https://sdk.mercadopago.com/js/v2"></script>

  </body>
</html>

