<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-carrito">
      <section class="carrito-container">
      <div class="carritoTop">
        <button>Carrito(3)</button><button>Guardados(0)</button>
      </div>
      <div class="carro">
        <article class="carrito">
          <div>
            <img src="../images/buzo2.jpg" alt="producto" class="img-prod-cart" />
          </div>
          <div class="detalles-producto">
            <div>
              <h4>Buzo Modelo 1</h4>
              <p>S</p>
              <p>Negro</p>
              <p>Unidades : 1</p>
              <p>$30.000</p>
            </div>
            <div><a href="#">Guardar</a><i class="fa-solid fa-trash"></i></div>
          </div>
        </article>

        <article class="carrito">
          <div>
            <img src="../images/buzo2.jpg" alt="producto" class="img-prod-cart" />
          </div>
          <div class="detalles-producto">
            <div>
              <h4>Buzo Modelo 1</h4>
              <p>S</p>
              <p>Negro</p>
              <p>Unidades : 1</p>
              <p>$30.000</p>
            </div>
            <div><a href="#">Guardar</a><i class="fa-solid fa-trash"></i></div>
          </div>
        </article>
        <article class="carrito">
          <div>
            <img src="../images/buzo2.jpg" alt="producto" class="img-prod-cart" />
          </div>
          <div class="detalles-producto">
            <div>
              <h4>Buzo Modelo 1</h4>
              <p>S</p>
              <p>Negro</p>
              <p>Unidades : 1</p>
              <p>$30.000</p>
            </div>
            <div><a href="#">Guardar</a><i class="fa-solid fa-trash"></i></div>
          </div>
        </article>
        <article class="carrito">
          <div>
            <img src="../images/buzo2.jpg" alt="producto" class="img-prod-cart" />
          </div>
          <div class="detalles-producto">
            <div>
              <h4>Buzo Modelo 1</h4>
              <p>S</p>
              <p>Negro</p>
              <p>Unidades : 1</p>
              <p>$30.000</p>
            </div>
            <div><a href="#">Guardar</a><i class="fa-solid fa-trash"></i></div>
          </div>
        </article>
        <div class="checkout">
          <p>Total: $50000000</p>
          <button class="boton-negro invertido">Seguir Comprando</button>
          <button class="boton-negro">Comprar Carrito</button>
        </div>
      </div>
    </section>
    <section class="carrito-otros">
      <h2 >Tambien te puede interesar</h2>
    </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
