<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="main-carrito">
      <section class="carrito-container">
      <div class="carritoTop">
        <button id="cantidadCarrito">Carrito(0)</button><button>Guardados(0)</button>
      </div>
      <div class="carro">
        <div id="productos">
          <!-- generado con js -->
      </div>
        
       
      </div>
    </section>
    <!-- <section class="carrito-otros">
      <h2 >Tambien te puede interesar</h2>
    </section> -->
    <div class="checkout">
      <!-- generado con js -->
    </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/cart.js"></script>
  </body>
</html>
