<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="sign-in">
      <h1>Iniciar sesión</h1>
      <form action="#" method="post">
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Contraseña" />
        <input type="submit" value="Iniciar sesión" class="boton-negro" />
      </form>
      <p>¿No tienes una cuenta? <a href="register">Regístrate</a></p>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
