<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="body-login">
    <%- include('../partials/header') %>

    <main class="sign-in">
      <h1>Bienvenido de vuelta</h1>
      <form action="/user/login" method="post">
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Contraseña" />
        <%if (locals.error && error.datosIncorrectos) { %>
          <p> <%= error.datosIncorrectos.msg  %></p>
        <% } %>
        <input type="submit" value="Iniciar sesión" class="boton-negro" />
        <div> <input type="checkbox" name="cookie" id="cookie"><label for="cookie">Mantener la sesión abierta</label></div>
      </form>
      <p>¿No tienes una cuenta? <a href="/user/register">Regístrate</a></p>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
