<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body class="body-register">
    <%- include('../partials/header') %>
    
    <main class="register">
      <h1> Edita tu password</h1>
      <%if (locals.errors && errors.datosIncorrectos) { %>
        <p> <%= errors.datosIncorrectos.msg  %></p>
      <% } %>
      <form action="/user/profile/edit/password" method="post" id="pwEdit">
        <input type="password" name="oldPassword" placeholder="Contraseña actual" id="clave"  />
        <span class="error-message" id="error-clave"></span>
        <input type="password" name="newPassword" placeholder="Nueva contraseña" id="passwordNueva"  />
        <span class="error-message" id="error-claveNueva"></span>
        <input type="password" name="newPasswordCheck" placeholder="Repite tu nueva contraseña" id="passwordRepeat" />
        <span class="error-message" id="error-claveRepeat" ></span>
        <input type="submit" value="Cambiar Password" class="boton-negro" />
      </form>

       
    </main>
    <script src="/js/profileEditPassword.js"></script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
