<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="body-register">
    <%- include('../partials/header') %>
    
    <main class="register">
      <h1> Nuevo Password</h1>
      <form action="" method="post" id="PwResetForm">
        <input type="password" name="newPassword" placeholder="Nueva contraseña" id="clave" />
        <span class="error-message" id="error-clave"></span>
        <input type="password" name="newPasswordCheck" placeholder="Repite tu nueva contraseña" id="passwordRepeat" />
         <span class="error-message" id="error-claveRepeat"></span>
        <input type="submit" value="Cambiar Password" class="boton-negro" />
      </form>

       
    </main>
    <script src="/js/pwResetForm.js"></script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
