<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="body-register">
    <%- include('../partials/header') %>
    
    <main class="register">
      <h1> Nuevo Password</h1>
      <form action="" method="post">
        <input type="password" name="newPassword" placeholder="Nueva contraseña"  />
        <input type="password" name="newPasswordCheck" placeholder="Repite tu nueva contraseña"  />
        <input type="submit" value="Cambiar Password" class="boton-negro" />
      </form>

       
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
