<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="body-login">
    <%- include('../partials/header') %>

    <main class="sign-in">
      <h1>Reiniciar Password</h1>
      <form action="/user/passwordreset" method="post" id="pwReset">
        <input type="email" name="email" placeholder="Email" id="email"/>
         <span class="error-message" id="error-email"></span>
        <input type="submit" value="Reiniciar" class="boton-negro" />
        
      </form>
      
     
    </main>
    <script src="/js/pwReset.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
