<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="body-register">
    <%- include('../partials/header') %>

    <main class="register">
      <h1>Cre치 tu cuenta</h1>
      <form action="/user/register" method="post" enctype="multipart/form-data">
        <input type="text" name="nombre" placeholder="Nombre" />
        <input type="text" name="apellido" placeholder="Apellido" />
        <input type="email" name="email" placeholder="Email" />
        <!-- <input type="email" name="repeat-email" placeholder="Repite tu Email" /> -->
        <input type="password" name="clave" placeholder="Contrase침a" />
        <input type="password" name="passwordRepeat" placeholder="Repite tu contrase침a" />
        <input type="file" name="avatar" >
        <input type="submit" value="Registrate" class="boton-negro" />
        
        <!--  limitamos la cantidad de campos que el usuario requiere para registrarse para que sea lo mas ameno posible, despues de logearse por primera vez lo podemos invitar a que termine de completar su perfil con por ej direccion de envio informacion de facturacion avatar etc -->
      </form>
      <p>Ya tienes cuenta? <a href="/user/login">Iniciar Sesi칩n</a></p>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
