<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="body-register">
    <%- include('../partials/header') %>

    <main class="register">
      <h1>Cre치 tu cuenta</h1>
      <form action="/newuser" method="post">
        <input type="text" name="name" placeholder="Nombre Completo" />
        <input type="email" name="email" placeholder="Email" />
        <input type="email" name="repeat-email" placeholder="Repite tu Email" />
        <input type="password" name="password" placeholder="Contrase침a" />
        <input type="password" name="password-repeat" placeholder="Repite tu contrase침a" />
        <input type="submit" value="Registrate" class="boton-negro" />
      </form>
      <p>Ya tienes cuenta? <a href="/user/login">Iniciar Sesi칩n</a></p>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
