<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/5e79f3a610.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <title>THEME</title>
  </head>

  <body>
    <header class="main-header">
      <div class="main-header-left-bar">
        <i class="fa-solid fa-bars"></i>
        <h1 class="copy-header"><a href="/">THEME</a></h1>
      </div>
      <div class="main-header-right-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
      </div>
    </header>
    <main>
      <section class="product-container">
        <div class="galeria">
          <div class="imagenes-producto">
            <img src="images/Buzo.jpg" alt="producto" class="m1" />
            <img src="images/Buzo2.jpg" alt="producto" class="m2" />
            <img src="images/Buzo3.jpg" alt="producto" class="m3" />
            <img src="images/Buzo4.jpg" alt="producto" class="m4" />
          </div>
          <div class="radio-selector">
            <input type="radio" id="selector1" name="radios" checked />
            <label for="selector1"></label>
            <input type="radio" id="selector2" name="radios" />
            <label for="selector2"></label>
            <input type="radio" id="selector3" name="radios" />
            <label for="selector3"></label>
            <input type="radio" id="selector4" name="radios" />
            <label for="selector4"></label>
          </div>
        </div>
        <div class="info-product">
          <h2>
            Nombre del Item
            <a href="a">
              <i class="fa-regular fa-star"></i>
            </a>
            <a href="a" class="share"
              ><i class="fa-solid fa-share-nodes"></i
            ></a>
            <!-- <span class="favorites">Guardar en favoritos</span> -->
          </h2>

          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit earum
            id ratione harum perferendis vitae voluptate assumenda libero
            expedita ut corporis natus, aliquam impedit cumque hic quae aliquid
            ullam. Cum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur quia laudantium consequatur veniam harum amet debitis
            provident earum officia ex facilis
          </p>
          <div class="talle">
            <p class="price">$60000</p>
            <h3>Seleccione un talle</h3>
            <form action="/cart" method="get">
              <div class="form-container">
                <div class="radio-button">
                  <input type="radio" id="radio1" name="radios" value="s" />
                  <label for="radio1">S</label>
                  <input type="radio" id="radio2" name="radios" value="m" />
                  <label for="radio2">M</label>
                  <input type="radio" id="radio3" name="radios" value="l" />
                  <label for="radio3">L</label>
                  <input type="radio" id="radio4" name="radios" value="xl" />
                  <label for="radio4">XL</label>
                  <input type="radio" id="radio5" name="radios" value="xxl" />
                  <label for="radio5">XXL</label>
                </div>

                <button type="submit" class="boton-negro">
                  Agregar al Carrito
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <div>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://wa.me/+549xxxxxxx"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
        <p>&copy; 2023 THEME - Break The Scene</p>
      </div>
    </footer>
      
    <script>
      //entiendo que asi como no se debe poner css en el html tampoco js pero es una solucion pasajera para lograr el selector de imagenes
      //dios como sufri buscando esto no recomiendo pasar el feriado haciendo esto

      const radios = document.querySelectorAll('input[name="radios"]');
      const images = {
        selector1: document.querySelector(".m1"),
        selector2: document.querySelector(".m2"),
        selector3: document.querySelector(".m3"),
        selector4: document.querySelector(".m4"),
      };

      radios.forEach(function (radio) {
        radio.addEventListener("change", function () {
          const selectedRadio = document.querySelector(
            'input[name="radios"]:checked'
          );
          for (const key in images) {
            if (selectedRadio && selectedRadio.id === key) {
              images[key].style.display = "block";
            } else {
              images[key].style.display = "none";
            }
          }
        });
      });
    </script>
  </body>
</html>
